{% extends 'base.html' %}

{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="welcome">
        <h1>Hello & welcome!</h1>
        <p>Got a question? Let's get you an answer!</p>
        <button id='ask-question' class='button is-primary'>Ask A ¿Question?</button>
    
    </div>
    

    <div id='modal' class="modal">
        <div id='modal-background' class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <form id='new-question-form'>
                    <div class="field">
                            <label class="label" for="new-question">Question Title</label>
                                <div class="control">
                                    <input class="input" type="text" id="new-question-title" name="text">
                                </div>
                        </div>
                        <div class="field">
                            <label class="label" for="new-question">Question Text</label>
                                <div class="control">
                                    <input class="input" type="text" id="new-question-text" name="text">
                                </div>
                        </div>
                    </form>
                        <div class="field is-grouped">
                            <div class="control">
                                <button id="new-question-submit" class="button is-link">Submit</button>
                            </div>
                                <div class="control">
                                    <button id="new-question-cancel" class="button is-text">Cancel</button>
                                </div>
                            <div><button id='close-modal' class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                </div>
             </div>
        </div>
            
    </div>
    <section id="question-list">

        {% for question in object_list %}

        <div class="box question" data-question="{{ question.id }}">
            <article class="media">

                <div class="media-content">
                    <div class="content">
                        <h2>{{ question.title }}</h2>
                            <p class="box-information">
                            <small>{{ question.author_name }}</small> - <small>{{ question.created_at }}</small>
                            </p>

                            {{ question.text }}

                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left question-controls">

                            <a class="level-item" aria-label="like">
                                <span class="icon is-medium">

                                    {% if question.star %}
                                        <i class="fas fa-star fa-lg starred" aria-hidden="true" data-question="{{ question.id }}" data-star="{{ question.star }}"></i>
                                    {% else %}
                                        <i class="fas fa-star fa-lg unstarred" aria-hidden="true" data-question="{{ question.id }}"></i>
                                    {% endif %}

                                </span>
                            </a>
                            <div>
                                <p><strong>{{ question.answers.count }} Answer{{ question.answers.count|pluralize }}</strong></p>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="answer-box">
                        
                
                {% if question.resolved %}
                    
                    <div class="response resolution">
                        <p>
                            <small>{{ question.resolved.resolving_answer.author.username }}</small> - <small>{{ uestion.resolved.resolving_answer.created_at }}</small>
                            <br>
                            <p>{{ answer.text }}</p>
                        </p>
                    </div>

                    
                {% else %}
                        <div class="response">
                            <div class="field">

                                <form action="">
                                    <label class="label" for="text">Respond to Question</label>
                                    <textarea name="text" cols="30" rows="10" data-question="{{question.id}}" class="textarea"></textarea>
                                </form>
                            </div>
                            <div class="control">
                                <button class="button is-link submit-answer" data-question="{{question.id}}">Submit</button>
                            </div>
                        </div>
                        
                    
                        {% comment %} <div class="response">
                            <p>
                                <small>{{ answer.author.username }}</small> - <small>{{ answer.created_at }}</small>
                                <br>
                                <p>{{ answer.text }}</p>
                                
                                <div class="answer-controls">
                                    {% if answer.star %}
                                        <i class="fas fa-star fa-lg starred"aria-hidden="true" data-question="{{ question.id }}"data-star="{{question.star }}"></i>
                                    {% else %}
                                        <i class="fas fa-star fa-lg unstarred"aria-hidden="true" data-question="{{ question.id }}"data-star="{{question.star }}"></i>
                                    {% endif %}
                                    

                                    {% if user.id == question.author_id %}
                                    <a class="button is-outlined is-small check" data-question="{{question.id}}" data-answer="{{answer.id}}">
                                        <i class="fas fa-check"></i> &nbsp; Mark as Resolved
                                    </a>
                                    {% endif %}
                                </div>
                                

                            </p>
                        </div> {% endcomment %}

                {% endif %}

                </div>
            </article>
        </div>
        {% empty %}
            <p>No questions yet!</p>
        {% endfor %}
    </section>
    <div id="loader" style="text-align: center">
        <img style="max-width: 15%; height: auto" src="https://cdn.dribbble.com/users/69182/screenshots/2151363/animated_loading__by__amiri.gif"><br>
        LOADING...
    </div>
{% endblock content %}