{% extends 'base.html' %}

{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Hello & welcome!</h1>
    <p>Got a question? Let's get you an answer!</p>
    <button id='ask-question'>Ask A ¿Question?</button>

    <div id='modal' class="modal">
        <div id='modal-background' class="modal-background"></div>
            <div class="modal-content">
        
            </div>
            <button id='close-modal' class="modal-close is-large" aria-label="close"></button>
    </div>
    {% for question in object_list %}
    
    
    
    
    <div class="box question">
        <article class="media">
            
            <div class="media-content">
                <div class="content">
                    <h2>{{ question.title }}</h2>
                        <p class="box-information">
                        <small>{{ question.author }}</small> - <small>{{ question.created_at }}</small>
                        </p>

                        {{ question.text }}

                </div>
                <nav class="level is-mobile">
                    <div class="level-left">

                        <a class="level-item" aria-label="reply">
                            <span class="icon is-small">
                                <i class="fas fa-reply fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                        
                        <a class="level-item" aria-label="like">
                            <span class="icon is-small">
                                <i class="fas fa-star fa-lg" aria-hidden="true"></i>
                            </span>
                        </a>
                        <div>
                            <p><strong>{{ question.answers.count }} Answer{{ question.answers.count|pluralize }}</strong></p>
                        </div>
                    </div>
                </nav>
            </div>
            {% if question.answers.all %}
            <div class="answer-box">
                
                <div class="response">
                    <p>
                        <small>{{ question.answers.all.0.author }}</small> - <small>{{ question.answers.all.0.created_at }}</small>
                        <br>
                        {{ question.answers.all.0.text }}
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>

                
            </div>
            {% endif %}
        </article>
    </div>
    {% empty %}
        <p>No questions yet!</p>
    {% endfor %}
{% endblock content %}