[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-registration-redux = "*"
djangorestframework = "*"
django-extensions = "*"
faker = "*"
pillow = "*"
gunicorn = "*"
django-heroku = "*"
django-debug-toolbar = "*"
yagmail = "*"
keyring = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.7"
