body {
    padding-bottom: 20px;
    background: radial-gradient(#b3ffd7 15%, #fce2ff);
}
header {
    background-color: #363636;
    box-shadow: 1px 1px 2px lightgray;
    margin-bottom: 30px;
    
}
.brand.logo h1 {
    text-align: center;
    color: #f5f5f5;
}
.welcome {
    text-align: center;
}
.welcome p {
    margin-bottom: 20px;
}
.box.question {
    margin: 40px auto;
    max-width: 960px;
}
.box.question h2 {
    margin: 0;
}
p.box-information {
    margin-bottom: 15px;
}
.box.question .media {
    flex-wrap: wrap;
}
.box.question .media-content {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightblue;
}
.box.question .answer-box {
    padding: 15px 0 15px 30px;
    border-radius: 5px;   
    width: 100%;
}

.box.question .answer-box .response {
    padding-left: 10px;
    border-left: 3px solid green;
    margin: 20px 0;
    background-color: azure;
}
.box.question .answer-box .response.resolution {
    background-color: #c9ffff;
}
.response form input {
    display: block;
}
.response-field form textarea[rows] {
    width: 100%;
    resize: none;
    height: 120px;
}
i.starred {
    color: #fff000;
}

.load-image {
    text-align: center;
}

.blob {
    height: auto;
    max-width: 20%;

}
